---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('supercoach-blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const selectingSquadPosts = posts.filter((post) => post.data.category === 'selecting-squad');
const teamSelectionPosts = posts.filter((post) => post.data.category === 'team-selection');
const playerTradesPosts = posts.filter((post) => post.data.category === 'player-trades');

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			h2, h3 {
				text-align: center;
			}
			h2{
				color: black;
			}
			h3 {
				background-color: rgb(148 163 184);	
				background: linear-gradient( 
            to right, #f32170, #ff6b08, 
             #cf23cf, #eedd44);
				overflow: hidden;
				border-radius: 0.375rem;
				color: black;
				
			}

			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h2> NRL Supercoach AI Blog</h2>
			<section>
				
				<h3>Selecting Initial Squad</h3>
				<ul>
				{
					selectingSquadPosts.map((post) => (
						<li>
							<a href={`/supercoach-blog/${post.slug}/`}>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
				</ul>
				<h3>Team Selection</h3>
				<ul>
				{
					teamSelectionPosts.map((post) => (
						<li>
							<a href={`/supercoach-blog/${post.slug}/`}>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
				</ul>
				<h3>Player Trades</h3>
				<ul>
				{
					playerTradesPosts.map((post) => (
						<li>
							<a href={`/supercoach-blog/${post.slug}/`}>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
